[submodule "learn-projects/tamagui"]
	path = learn-projects/tamagui
	url = git@github.com:tamagui/tamagui.git
[submodule "learn-projects/one"]
	path = learn-projects/one
	url = git@github.com:onejs/one.git
[submodule "learn-projects/zero-mono"]
	path = learn-projects/zero-mono
	url = git@github.com:rocicorp/mono.git
